*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Londrina Solid', cursive;
}
nav{
    width: 80%;
    height: 8vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vmax;
}
.details{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vmax;
    text-decoration: none;
    background-color: black;
    border-left: 0.2vmax solid grey;
    border-right: 0.2vmax solid grey;
    border-bottom: 0.01vmax solid #dddddd64;
    color: goldenrod;
    font-size: 0.8vmax;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Handjet', cursive;
    padding-bottom: 0.3vmax;
}

.spanShow{
    background-color: #1a1818;
    color: white;
    padding: 0.3vmax;
    border-radius: 50%;
    font-size: 1vmax;
    font-weight: 400;
    font-family: 'Londrina Solid', cursive;
}

.name{
    color: black;
    font-family: 'Fredericka the Great', cursive;
    font-style: 3vmax;
    /* text-shadow: 1px 1px 10px rgba(255, 255, 0, 0.536); */
}

.gamePlay{
    width: 80%;
    height: 80%;
    background-color: black;
    border: 0.2vmax solid grey;
    border-top: none;
    display: flex;
    /* align-items: end; */
    /* justify-content: center; */
    position: relative;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

.bubbleBurst{
    width: 8vmax;
    height: 8vmax;
    position: relative;
    top: 100%;
}
.bubble{
    width: 100%;
    height: 100%;
    background: url(bubble1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 3.5vmax;
    color: rgba(255, 255, 255, 0.485);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vmax;
    /* background-color: red; */
    /* animation: flot 3s linear 1 forwards; */
    position: relative;
}

.bubble:hover{
    /* filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.433)); */
    /* animation: burst 0.3s linear 1 forwards; */
    filter: drop-shadow(0 0 10px rgba(0, 255, 238, 0.533));
}

@keyframes flot {
    0%{
        top: 100%
    }
    30%{
        top: 80%;
    }
    80%{
        top: 0%;
    }
    100%{
        top: -30%;
    }
}

@keyframes burst {
    0%{
        background: url(bubble2.png);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    25%{
        background: url(bubble3.png);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    50%{
        background: url(bubble4.png);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    75%{
        background: url(bubble5.png);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    99%{
        background: url(bubble6.png);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    100%{
        background: none;
        color: transparent;
    }
}

.gameEnd{
    width: 100%;
    height: 20vh;
    background: antiquewhite;
    color: #1a1818;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20vh;
}

.reStart{
    border: none;
    padding: 1vmax 2.5vmax;
    color: white;
    background-color: goldenrod;
    border-radius: 5%;
    font-size: 1.7vmax;
    box-shadow: 2px 2px 4px black;
    font-family: 'Handjet', cursive;
    font-weight: 500;
}
.reStart:active{
    scale: 0.9;
}
.reStart:hover{
    text-shadow: 0 0 5px black;
}
div::selection{
    background-color: transparent;
}
.ff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showNumber{
    font-size: 2vmax;
}
.clickShow{
    position: absolute;
    left: 50%;
    top: 50%;
    color: aqua;
    font-size: 5vmax;
    transition: all ease 0.3s;
}

@keyframes scr {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-5vmax);
        opacity: 0;
    }
}



